# --------------------------------------------------------------------
# https://htaccess.madewithlove.com/
# --------------------------------------------------------------------

RewriteEngine On

Redirect 301 "/index.html"  "/repo/index.html"
Redirect 301 "/favicon.ico" "/repo/icons/warren-bank.png"

# --------------------------------------------------------------------
# com.github.warren_bank.exoplayer_airplay_receiver
# --------------------------------------------------------------------

Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-noDecoderExtensions-release.apk"                           "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-noDecoderExtensions-release.apk"
Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-arm64-v8a-release.apk"               "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-arm64-v8a-release.apk"
Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-armeabi-v7a-release.apk"             "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-armeabi-v7a-release.apk"
Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-x86-release.apk"                     "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-x86-release.apk"
Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-x86_64-release.apk"                  "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-x86_64-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.exoplayer_airplay_receiver/.+/icon.*\.png$"                                                            "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/raw/v3.4.5/android-studio-project/ExoPlayer-AirPlay-Receiver/src/main/res/drawable/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.mock_location
# --------------------------------------------------------------------

Redirect 301 "/repo/Mock-my-GPS-002.03.01-03API-withAllLanguageTranslations-withAospLocationProviders-release.apk"                                    "https://github.com/warren-bank/Android-Mock-Location/releases/download/service/v02.03.01/Mock-my-GPS-002.03.01-03API-withAllLanguageTranslations-withAospLocationProviders-release.apk"
Redirect 301 "/repo/Mock-my-GPS-002.03.01-19API-withAllLanguageTranslations-withGooglePlayServicesFusedLocationProvider-release.apk"                  "https://github.com/warren-bank/Android-Mock-Location/releases/download/service/v02.03.01/Mock-my-GPS-002.03.01-19API-withAllLanguageTranslations-withGooglePlayServicesFusedLocationProvider-release.apk"
Redirect 301 "/repo/Mock-my-GPS-002.03.01-19API-withAllLanguageTranslations-withHuaweiMobileServicesFusedLocationProvider-release.apk"                "https://github.com/warren-bank/Android-Mock-Location/releases/download/service/v02.03.01/Mock-my-GPS-002.03.01-19API-withAllLanguageTranslations-withHuaweiMobileServicesFusedLocationProvider-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.mock_location/.+/icon.*\.png$"                                                                         "https://github.com/warren-bank/Android-Mock-Location/raw/service/v02.03.01/android-studio-project/Mock-my-GPS/src/main/res/drawable/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.mock_location.service.microg_nlp_backend
# --------------------------------------------------------------------

Redirect 301 "/repo/Mock-my-GPS-UnifiedNlp-Backend-002.03.01-09API-withAllLanguageTranslations-release.apk"                                           "https://github.com/warren-bank/Android-Mock-Location/releases/download/service/v02.03.01/Mock-my-GPS-UnifiedNlp-Backend-002.03.01-09API-withAllLanguageTranslations-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.mock_location\.service\.microg_nlp_backend/.+/icon.*\.png$"                                            "https://github.com/warren-bank/Android-Mock-Location/raw/service/v02.03.01/android-studio-project/Mock-my-GPS-UnifiedNlp-Backend/src/main/res/drawable/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.webmonkey
# --------------------------------------------------------------------

Redirect 301 "/repo/WebMonkey-003.00.01-08API-english-noAdBlock-release.apk"                                                                          "https://github.com/warren-bank/Android-WebMonkey/releases/download/v03.00.01/WebMonkey-003.00.01-08API-english-noAdBlock-release.apk"
Redirect 301 "/repo/WebMonkey-003.00.01-08API-english-withAdBlock-release.apk"                                                                        "https://github.com/warren-bank/Android-WebMonkey/releases/download/v03.00.01/WebMonkey-003.00.01-08API-english-withAdBlock-release.apk"
Redirect 301 "/repo/WebMonkey-003.00.01-08API-withAllLanguageTranslations-noAdBlock-release.apk"                                                      "https://github.com/warren-bank/Android-WebMonkey/releases/download/v03.00.01/WebMonkey-003.00.01-08API-withAllLanguageTranslations-noAdBlock-release.apk"
Redirect 301 "/repo/WebMonkey-003.00.01-08API-withAllLanguageTranslations-withAdBlock-release.apk"                                                    "https://github.com/warren-bank/Android-WebMonkey/releases/download/v03.00.01/WebMonkey-003.00.01-08API-withAllLanguageTranslations-withAdBlock-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.webmonkey/.+/icon.*\.png$"                                                                             "https://github.com/warren-bank/Android-WebMonkey/raw/v03.00.01/android-studio-project/WebMonkey/src/main/res/drawable/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.webcast
# --------------------------------------------------------------------

Redirect 301 "/repo/WebCast-005.01.00-16API-withAllLanguageTranslations-withAdBlock-release.apk"                                                      "https://github.com/warren-bank/Android-WebCast/releases/download/v05.01.00/WebCast-005.01.00-16API-withAllLanguageTranslations-withAdBlock-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.webcast/.+/icon.*\.png$"                                                                               "https://github.com/warren-bank/Android-WebCast/raw/v05.01.00/android-studio-project/WebCast/src/main/res/mipmap-xxxhdpi/ic_launcher_black.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.nodejs_frontend
# --------------------------------------------------------------------

Redirect 301 "/repo/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-arm64-v8a-release.apk"                                                "https://github.com/warren-bank/Android-NodeJS-Frontend/releases/download/v1.0.2/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-arm64-v8a-release.apk"
Redirect 301 "/repo/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-armeabi-v7a-release.apk"                                              "https://github.com/warren-bank/Android-NodeJS-Frontend/releases/download/v1.0.2/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-armeabi-v7a-release.apk"
Redirect 301 "/repo/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-x86-release.apk"                                                      "https://github.com/warren-bank/Android-NodeJS-Frontend/releases/download/v1.0.2/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-x86-release.apk"
Redirect 301 "/repo/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-x86_64-release.apk"                                                   "https://github.com/warren-bank/Android-NodeJS-Frontend/releases/download/v1.0.2/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-x86_64-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.nodejs_frontend/.+/icon.*\.png$"                                                                       "https://github.com/warren-bank/Android-NodeJS-Frontend/raw/v1.0.2/android-studio-project/NodeJS-Frontend/src/main/res/mipmap-xxxhdpi/launcher.png" [L,R=301]
