# --------------------------------------------------------------------
# https://htaccess.madewithlove.com/
# --------------------------------------------------------------------

RewriteEngine On

Redirect 301 "/index.html"  "/repo/index.html"
Redirect 301 "/favicon.ico" "/repo/icons/warren-bank.png"

# --------------------------------------------------------------------
# com.github.warren_bank.exoplayer_airplay_receiver
# --------------------------------------------------------------------

Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-noDecoderExtensions-release.apk"                           "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-noDecoderExtensions-release.apk"
Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-arm64-v8a-release.apk"               "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-arm64-v8a-release.apk"
Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-armeabi-v7a-release.apk"             "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-armeabi-v7a-release.apk"
Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-x86-release.apk"                     "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-x86-release.apk"
Redirect 301 "/repo/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-x86_64-release.apk"                  "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/releases/download/v3.4.5/ExoPlayer-AirPlay-Receiver-003.04.05-16API-withAllLanguageTranslations-withDecoderExtensions-x86_64-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.exoplayer_airplay_receiver/.+/icon.*\.png$"                                                            "https://github.com/warren-bank/Android-ExoPlayer-AirPlay-Receiver/raw/v3.4.5/android-studio-project/ExoPlayer-AirPlay-Receiver/src/main/res/drawable/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.mock_location
# --------------------------------------------------------------------

Redirect 301 "/repo/Mock-my-GPS-002.03.01-03API-withAllLanguageTranslations-withAospLocationProviders-release.apk"                                    "https://github.com/warren-bank/Android-Mock-Location/releases/download/service/v02.03.01/Mock-my-GPS-002.03.01-03API-withAllLanguageTranslations-withAospLocationProviders-release.apk"
Redirect 301 "/repo/Mock-my-GPS-002.03.01-19API-withAllLanguageTranslations-withGooglePlayServicesFusedLocationProvider-release.apk"                  "https://github.com/warren-bank/Android-Mock-Location/releases/download/service/v02.03.01/Mock-my-GPS-002.03.01-19API-withAllLanguageTranslations-withGooglePlayServicesFusedLocationProvider-release.apk"
Redirect 301 "/repo/Mock-my-GPS-002.03.01-19API-withAllLanguageTranslations-withHuaweiMobileServicesFusedLocationProvider-release.apk"                "https://github.com/warren-bank/Android-Mock-Location/releases/download/service/v02.03.01/Mock-my-GPS-002.03.01-19API-withAllLanguageTranslations-withHuaweiMobileServicesFusedLocationProvider-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.mock_location/.+/icon.*\.png$"                                                                         "https://github.com/warren-bank/Android-Mock-Location/raw/service/v02.03.01/android-studio-project/Mock-my-GPS/src/main/res/drawable/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.mock_location.service.microg_nlp_backend
# --------------------------------------------------------------------

Redirect 301 "/repo/Mock-my-GPS-UnifiedNlp-Backend-002.03.01-09API-withAllLanguageTranslations-release.apk"                                           "https://github.com/warren-bank/Android-Mock-Location/releases/download/service/v02.03.01/Mock-my-GPS-UnifiedNlp-Backend-002.03.01-09API-withAllLanguageTranslations-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.mock_location\.service\.microg_nlp_backend/.+/icon.*\.png$"                                            "https://github.com/warren-bank/Android-Mock-Location/raw/service/v02.03.01/android-studio-project/Mock-my-GPS-UnifiedNlp-Backend/src/main/res/drawable/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.webmonkey
# --------------------------------------------------------------------

Redirect 301 "/repo/WebMonkey-003.00.01-08API-english-noAdBlock-release.apk"                                                                          "https://github.com/warren-bank/Android-WebMonkey/releases/download/v03.00.01/WebMonkey-003.00.01-08API-english-noAdBlock-release.apk"
Redirect 301 "/repo/WebMonkey-003.00.01-08API-english-withAdBlock-release.apk"                                                                        "https://github.com/warren-bank/Android-WebMonkey/releases/download/v03.00.01/WebMonkey-003.00.01-08API-english-withAdBlock-release.apk"
Redirect 301 "/repo/WebMonkey-003.00.01-08API-withAllLanguageTranslations-noAdBlock-release.apk"                                                      "https://github.com/warren-bank/Android-WebMonkey/releases/download/v03.00.01/WebMonkey-003.00.01-08API-withAllLanguageTranslations-noAdBlock-release.apk"
Redirect 301 "/repo/WebMonkey-003.00.01-08API-withAllLanguageTranslations-withAdBlock-release.apk"                                                    "https://github.com/warren-bank/Android-WebMonkey/releases/download/v03.00.01/WebMonkey-003.00.01-08API-withAllLanguageTranslations-withAdBlock-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.webmonkey/.+/icon.*\.png$"                                                                             "https://github.com/warren-bank/Android-WebMonkey/raw/v03.00.01/android-studio-project/WebMonkey/src/main/res/drawable/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.webcast
# --------------------------------------------------------------------

Redirect 301 "/repo/WebCast-005.01.00-16API-withAllLanguageTranslations-withAdBlock-release.apk"                                                      "https://github.com/warren-bank/Android-WebCast/releases/download/v05.01.00/WebCast-005.01.00-16API-withAllLanguageTranslations-withAdBlock-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.webcast/.+/icon.*\.png$"                                                                               "https://github.com/warren-bank/Android-WebCast/raw/v05.01.00/android-studio-project/WebCast/src/main/res/mipmap-xxxhdpi/ic_launcher_black.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.nodejs_frontend
# --------------------------------------------------------------------

Redirect 301 "/repo/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-arm64-v8a-release.apk"                                                "https://github.com/warren-bank/Android-NodeJS-Frontend/releases/download/v1.0.2/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-arm64-v8a-release.apk"
Redirect 301 "/repo/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-armeabi-v7a-release.apk"                                              "https://github.com/warren-bank/Android-NodeJS-Frontend/releases/download/v1.0.2/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-armeabi-v7a-release.apk"
Redirect 301 "/repo/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-x86-release.apk"                                                      "https://github.com/warren-bank/Android-NodeJS-Frontend/releases/download/v1.0.2/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-x86-release.apk"
Redirect 301 "/repo/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-x86_64-release.apk"                                                   "https://github.com/warren-bank/Android-NodeJS-Frontend/releases/download/v1.0.2/NodeJS-Frontend-001.00.02-19API-withAllLanguageTranslations-x86_64-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.nodejs_frontend/.+/icon.*\.png$"                                                                       "https://github.com/warren-bank/Android-NodeJS-Frontend/raw/v1.0.2/android-studio-project/NodeJS-Frontend/src/main/res/mipmap-xxxhdpi/launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.tiny_television_time_tracker
# --------------------------------------------------------------------

Redirect 301 "/repo/TV-Tracker-008.00.24-09API-english-release.apk"                                                                                   "https://github.com/warren-bank/Android-Tiny-Television-Time-Tracker/releases/download/tmdb/008.00.24-09API/TV-Tracker-008.00.24-09API-english-release.apk"
Redirect 301 "/repo/TV-Tracker-008.00.24-09API-withAllLanguageTranslations-release.apk"                                                               "https://github.com/warren-bank/Android-Tiny-Television-Time-Tracker/releases/download/tmdb/008.00.24-09API/TV-Tracker-008.00.24-09API-withAllLanguageTranslations-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.tiny_television_time_tracker/.+/icon.*\.png$"                                                          "https://github.com/warren-bank/Android-Tiny-Television-Time-Tracker/raw/tmdb/008.00.24-09API/android-studio-project/TV-Tracker/src/main/res/drawable-v21/icon.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.bookmarks
# --------------------------------------------------------------------

Redirect 301 "/repo/Bookmarks-002.00.01-09API-withUserRuntimePermissions-english-release.apk"                                                         "https://github.com/warren-bank/Android-Bookmarks/releases/download/002.00.01-09API/Bookmarks-002.00.01-09API-withUserRuntimePermissions-english-release.apk"
Redirect 301 "/repo/Bookmarks-002.00.01-09API-withUserRuntimePermissions-withAllLanguageTranslations-release.apk"                                     "https://github.com/warren-bank/Android-Bookmarks/releases/download/002.00.01-09API/Bookmarks-002.00.01-09API-withUserRuntimePermissions-withAllLanguageTranslations-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.bookmarks/.+/icon.*\.png$"                                                                             "https://github.com/warren-bank/Android-Bookmarks/raw/002.00.01-09API/android-studio-project/Bookmarks/src/main/res/drawable/icon_app.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.myplaces
# --------------------------------------------------------------------

Redirect 301 "/repo/MyPlaces-release.apk"                                                                                                             "https://github.com/warren-bank/Android-MyPlaces/releases/download/v05.00.05/MyPlaces-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.myplaces/.+/icon.*\.png$"                                                                              "https://github.com/warren-bank/Android-MyPlaces/raw/v05.00.05/android-studio-project/MyPlaces/src/main/res/drawable/ic_launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.cb.oneclipboard.android.server
# --------------------------------------------------------------------

Redirect 301 "/repo/OneClipboardAndroidServer-3.01.03-release.apk"                                                                                    "https://github.com/warren-bank/fork-Java-OneClipboard/releases/download/improvements/v3.1.3/OneClipboardAndroidServer-3.01.03-release.apk"

RewriteRule "^/?repo/com\.cb\.oneclipboard\.android\.server/.+/icon.*\.png$"                                                                          "https://github.com/warren-bank/fork-Java-OneClipboard/raw/improvements/v3.1.3/android-studio-project/OneClipboardAndroidServer/src/main/res/drawable/logo.png" [L,R=301]

# --------------------------------------------------------------------
# com.cb.oneclipboard.android.client
# --------------------------------------------------------------------

Redirect 301 "/repo/OneClipboardAndroidClient-3.01.03-release.apk"                                                                                    "https://github.com/warren-bank/fork-Java-OneClipboard/releases/download/improvements/v3.1.3/OneClipboardAndroidClient-3.01.03-release.apk"

RewriteRule "^/?repo/com\.cb\.oneclipboard\.android\.client/.+/icon.*\.png$"                                                                          "https://github.com/warren-bank/fork-Java-OneClipboard/raw/improvements/v3.1.3/android-studio-project/OneClipboardAndroidClient/src/main/res/drawable/logo.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.airplay_client
# --------------------------------------------------------------------

Redirect 301 "/repo/AirPlay-Client-000.05.05-14API-english-release.apk"                                                                               "https://github.com/warren-bank/Android-AirPlay-Client/releases/download/v0.5.5/AirPlay-Client-000.05.05-14API-english-release.apk"
Redirect 301 "/repo/AirPlay-Client-000.05.05-14API-withAllLanguageTranslations-release.apk"                                                           "https://github.com/warren-bank/Android-AirPlay-Client/releases/download/v0.5.5/AirPlay-Client-000.05.05-14API-withAllLanguageTranslations-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.airplay_client/.+/icon.*\.png$"                                                                        "https://github.com/warren-bank/Android-AirPlay-Client/raw/v0.5.5/android-studio-project/AirPlay-Client/src/main/res/drawable-xxhdpi/ic_launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.locale_changer
# --------------------------------------------------------------------

Redirect 301 "/repo/Locale-Changer-release.apk"                                                                                                       "https://github.com/warren-bank/Android-Locale-Changer/releases/download/v1.1.0/Locale-Changer-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.locale_changer/.+/icon.*\.png$"                                                                        "https://github.com/warren-bank/Android-Locale-Changer/raw/v1.1.0/android-studio-project/Locale-Changer/src/main/res/drawable/ic_launcher.png" [L,R=301]

# --------------------------------------------------------------------
# com.github.warren_bank.sms_automatic_reply_gps
# --------------------------------------------------------------------

Redirect 301 "/repo/SMS-my-GPS-release.apk"                                                                                                           "https://github.com/warren-bank/Android-SMS-Automatic-Reply-GPS/releases/download/v2.1.7/SMS-my-GPS-release.apk"

RewriteRule "^/?repo/com\.github\.warren_bank\.sms_automatic_reply_gps/.+/icon.*\.png$"                                                               "https://github.com/warren-bank/Android-SMS-Automatic-Reply-GPS/raw/v2.1.7/android-studio-project/SMS-my-GPS/src/main/res/drawable/launcher.png" [L,R=301]
